@font-face {
    font-family: 'SFPRO';
    src: url('/fonts/SFPRODISPLAYREGULAR.woff') format('woff');
}

.notepad_window {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 600px;
    position: absolute;
}

.dragging {
    transition: transform 0.01s ease-out;
}

.navigation_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-radius: 16px 16px 0px 0px;
    background-color: #1b1b1b;
}

.navigation_buttons {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 10px;
}

.nav_button {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    cursor: pointer;
    transition: 0.5s;
}

.nav_button:hover {
    transform: scale(1.1);
}

.close_button {
    background-color: #f5555d;
}

.minimize_button {
    background-color: #ffeb57;
}

.fullscreen_button {
    background-color: #99e65f;
}

.opened_repository {
    color: #b4b4b4;
    font-family: 'SFPRO', sans-serif;
    font-weight: 700;
    margin: 0;
    margin-right: 50px;
}

.info_button {
    background-color: #b4b4b4;
    margin-right: 20px;
}

.notepad_input_container {
    height: 550px;
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    background-color: #272727;
    overflow-y: hidden;
}

.command_output {
    font-family: 'SFPRO', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.directory {
    color: #b4b4b4;
}

.notepad_textarea {
    font-family: 'SFPRO', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    background-color: #272727;
    outline: none;
    resize: none;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.notepad_textarea::-webkit-scrollbar {
    border-radius: 8px;
    width: 20px;
    height: 10px;
}

.notepad_textarea::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 16px;
}

.notepad_textarea::-webkit-scrollbar-track {
    background-color: #1b1b1b;
    border-radius: 0px 0px 16px 16px;
}